<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kikermo.ui">

    <application>
        <activity
            android:name=".board.BoardActivity"
            android:label="@string/title_activity_board"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>